body{
  font-family: 'Open Sans', sans-serif !important;
}
.div-padding{
  padding-left: 0 !important;
  padding-right: 0.1vh !important;
  width: 100vh !important;
}
.navBarLogo{
  padding: .5rem 1rem 0 1rem !important;
}
.textNavBar{
  color: #c5168d !important;
}
.textNavBar:hover{
  color: rgba(197,22,141,0.7) !important;
}
.active a{
  color: #00adef !important;
  font-weight: bold !important;
}
.linkLogo{
  padding-bottom: 0 !important;
}
.logoImg{
  vertical-align: bottom !important;
}
.background-Nav{
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)) !important;
}
.space{
    top: 140px !important;
}
.spaceSeccion{
    top: 40px !important;
}

/* Colores - Color */

.colorGive01{
  color: #dd740a;
}
.colorGive02{
  color: #35abf0;
}
.colorGive03{
  color: #934b02;
}
.colorGive04{
  color: #418696;
}
.colorGive05{
  color: #c5168d;
}